<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= @post.meta[:title] + " - " if @post && @post.meta[:title] %>Marcin Kulik's tech stuff</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="<%= @post && @post.meta[:title] || 'Personal blog of Marcin Kulik, curious software developer and open-source addict' %>" />
  <meta name="keywords" content="marcin kulik, mkulik, sickill, blog, programming, ruby, <%= @post && @post.meta[:tags].join(", ") %>" />
  <link rel="alternate" type="application/atom+xml" title="Atom" href="http://feeds2.feedburner.com/SickillNet" />
  <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/jquery.lightbox-0.5.css" type="text/css" />
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="openid.server" href="http://www.myopenid.com/server" />
  <link rel="openid.delegate" href="http://sickill.myopenid.com/" />
  <meta http-equiv="X-XRDS-Location" content="http://www.myopenid.com/xrds?username=sickill.myopenid.com" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/sickill.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.lightbox-0.5.pack.js"></script>
  <% unless ENV['RACK_ENV'] == "production" %>
    <script type="text/javascript">
      var disqus_developer = true;
    </script>
  <% end %>
</head>
<body <%= 'class="post"' if @post %>>
  <div id="container" class="centered">
    <div id="header">
      <% if request.path != "/" %>
        <a href="/" class="home" title="Go home!">&#x21E7;</a>
      <% end %>
      <div class="logo"> <%= link_to "MARCIN KULIK", "/me", :title => "Who's Marcin?" %>'S: </div>
    </div>
    <div id="content">
      <%= yield.force_encoding("UTF-8") %>
    </div>
  </div>
  <% if @show_comments %>
  <div id="lower">
    <div class="comments centered">
      <div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/sickill/embed.js"></script><noscript><a href="http://sickill.disqus.com/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
  </div>
  <% end %>
  <div id="footer" class="centered">
    Browse through archives: <%= linkified_years %>
  </div>
  <%= partial :analytics %>
</body>
</html>
