<div class="post">
  <div class="header">
    <h2>"<%= @post.title %>"</h2>
    <p class="date"><%= @post.meta[:date].strftime("%A, %B %d, %Y") %></p>
    <% if @post.meta[:img] %>
      <img src="<%= @post.meta[:img].gsub("\\_", "_") %>" />
    <% end %>
  </div>
  <div class="body">
    <%= @post.compiled_content(binding) %>
  </div>
  <% unless @post.meta[:tags].empty? %>
  <div class="tags">
    Read more about <%= linkified_tags(@post.meta[:tags]) %>.
  </div>
  <% end %>
</div>
