<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= @item[:title] + " - " if @item[:title] %>Marcin Kulik's tech stuff</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="<%= @item[:title] %>" />
  <meta name="keywords" content="marcin kulik, mkulik, sickill, blog, <%= @item[:tags] %>" />
  <link rel="alternate" type="application/atom+xml" title="Atom" href="http://feeds2.feedburner.com/SickillNet" />
  <link rel="stylesheet" href="/css/reset.css" type="text/css" />
  <link rel="stylesheet" href="/css/master.css" type="text/css" />
  <link rel="stylesheet" href="/css/jquery.lightbox-0.5.css" type="text/css" />
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="openid.server" href="http://www.myopenid.com/server" />
  <link rel="openid.delegate" href="http://sickill.myopenid.com/" />
  <meta http-equiv="X-XRDS-Location" content="http://www.myopenid.com/xrds?username=sickill.myopenid.com" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/sickill.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.lightbox-0.5.pack.js"></script>
</head>
<body>
<div id="container">
  <div id="header">
    <div class="logo">
      <%= link_to 'sickill.net', '/' %>
    </div>
    <div class="headline">Marcin Kulik's Home Page</div>
  </div>
  <div id="page">
    <div id="content">
      <%= yield %>
    </div>
    <div id="sidebar">
      <h2>Info</h2>
      <ul>
        <li><%= link_to 'About me', '/about-me/' %></li>
        <li><%= link_to 'My projects', '/projects/' %></li>
        <li><%= link_to 'Contact', '/contact/' %></li>
      </ul>

      <h2>Follow me if you dare</h2>
      <ul>
        <li><a href="http://feeds2.feedburner.com/SickillNet" class="feed">RSS Feed</a></li>
        <li><a href="http://www.twitter.com/sickill" class="twitter">Twitter</a></li>
        <li><%= link_to 'identi.ca', 'http://identi.ca/sickill', :class => 'identica' %></li>
        <li><%= link_to 'Github', 'http://github.com/sickill', :class => 'github' %></li>
      </ul>

      <h2>Recent posts</h2>
      <%= render '_recent_posts' %>
      
      <h2>Monthly archives</h2>
      <%= render '_archives' %>
      
      <h2>Popular tags</h2>
      <%= render '_tags' %>
    </div>
  </div>
  <div id="footer">
    Site powered by <%= link_to 'nanoc', 'http://nanoc.stoneship.org/' %>, <%= link_to 'Disqus', 'http://disqus.com' %> and <%= link_to 'Nginx', 'http://nginx.net/' %>.
    Styled by Sickill.
  </div>
</div>
<%= render "_analytics" %>
<%= render "_disqus_comments_count" %>
</body>
</html>
