---
extension: html
filter:    erb
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Sickill.net &raquo; <%= @page.title %></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="<%= @page.blog_post ? @page.title : "Sickill's tech stuff" %>" />
  <link rel="alternate" type="application/rss+xml" title="RSS 2.0 - all posts" href="http://sickill.net/feed.xml" />
  <link rel="stylesheet" href="/css/reset.css" type="text/css" />
  <link rel="stylesheet" href="/css/layout.css" type="text/css" />
  <link rel="stylesheet" href="/css/sickill.css" type="text/css" />
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
  <link rel="stylesheet" href="/css/jquery.lightbox-0.5.css" type="text/css" />
  <link rel="shortcut icon" href="/favicon.ico">
  <script type="text/javascript" src="/javascripts/jquery-1.2.6.min.js"></script>
  <script type="text/javascript" src="/javascripts/sickill.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.curvycorners.packed.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.lightbox-0.5.pack.js"></script>
</head>
<body>
<div id="container">
  <div id="header">
    <div class="logo">
      <a href="/">sickill.net</a><br/>
      Marcin Kulik's Home Page
    </div>
  </div>
  <div id="page">
    <div id="content">
      <div style="height: 350px; width: 0px; visible: 0; float: left;"></div>
      <% if @page.blog_post %>
        <%= render(:partial => '/post', :locals => { :page => @page, :body => @content, :show_comments => true } ) %>
      <% else %>
        <%= @content %>
      <% end %>
    </div>
    <div id="sidebar">
      <!-- <div class="content_box">
        <img src="/images/sickill-avatar-64.png" class="avatar" />
      </div> -->
      <div class="content_box menu">
        <p>
          <%= link_to("Blog", "/") %>
        </p>
        <p>
          <%= link_to("About me", "/about-me.html") %>
        </p>
        <p>
          <%= link_to("Contact", "/contact.html") %>
        </p>
      </div>
      <!--
      <div class="content_box">
        <img src="http://lastfm.bintrash.org/generator.php?username=sikkill&color=white&image=true" />
      </div> -->
    </div>
    <br style="clear:both;" />
  </div>
  <div id="footer">
    <span class="powered">Powered by <a href="http://webby.rubyforge.org/">Webby</a>, <a href="http://disqus.com">Disqus</a> and <a href="http://nginx.net/">Nginx</a></span>
    &nbsp; <span class="powered">Styled by Sickill, <a href="http://www.flickr.com/photos/tristanf/3065740880/">background</a> by <a href="http://www.cookinrelaxin.com/">Tristan Ferne</a></span>
  </div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-5523452-3");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
